/* arrow icon and select option */
.select_option-custom {
	display: flex;
	align-items: center;
	position: relative;
}

span.anticon.anticon-search.ant-select-suffix.pos-anticon-search {
	margin-left: -25px;
	margin-top: -2px;
}

/* hide arrow icons */
.select_option-custom .ant-select-arrow .anticon.anticon-down .ant-select-suffix {
	display: none;
}

.select_option-custom .ant-select-arrow .anticon.anticon-search.ant-select-suffix {
	display: none;
}

.select_option-custom .ant-select-arrow {
	display: none;
}

/* update new arrow icon */
.select_option-custom .pos-anticon-search {
	border-style: solid;
	border-width: 0 2px 2px 0;
	border-color: transparent #adb5bd #adb5bd transparent;
	content: '';
	height: 10px;
	pointer-events: none;
	transition: all 0.15s ease-in-out;
	width: 10px;
	transform-origin: 60% 60%;
	transform-style: preserve-3D;
	transform: rotate(45deg);
}

/* animate for arrow icon when clicked*/
.select_option-custom .animate-anticon-search {
	transform: rotate(-135deg);
}

/* change dimension select option */
.select_option-custom
	.ant-select
	.ant-select-single
	.ant-select-show-arrow
	.ant-select-show-search {
	padding: 0 !important;
}

.select_option-custom
	.ant-select-show-search.ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	border-radius: 5px;
}

.select_option-custom .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
	margin: 20px 0;
	height: 35px;
	display: flex;
	align-items: center;
}

.ant-select-single:not(.ant-select-customize-input)
	.ant-select-selector
	.ant-select-selection-search-input {
	height: 34px !important;
}

/* update font*/
.select_option-custom .ant-select-selection-item {
	font-size: 1rem;
	height: 34px;
}

.ant-select-item .ant-select-item-option {
	font-size: 1rem !important;
}

.select_option-custom .ant-select-selection-search-input {
	font-size: 1rem;
}

.select_option-custom .ant-select-selection-placeholder {
	font-size: 1rem;
}

.rc-virtual-list .ant-select-item-option-content {
	color: #6c757d;
	font-weight: none;
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected
	.ant-select-item-option-content {
	color: #6c757d !important;
	font-weight: none;
}

/* Styles for Select Options are Disabled */
.select_option-custom
	.ant-select-disabled.ant-select-show-search.ant-select:not(.ant-select-customize-input)
	.ant-select-selector {
	background-color: #fff;
	color: #bfbfbf;
	border-color: #bfbfbf;
	opacity: 0.5;
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector input {
	cursor: default;
}
