/* 
* *********** Authors: Raymond ************ *
* *********** Created at: 25/1/2022 ******* *
* *********** Component: DatePickerCustom *********** *
*/

/* Update color for selection day */
.ant-picker-cell-in-view {
	.ant-picker-cell-selected .ant-picker-cell-inner {
		background-color: var(--color-teal);
	}
	.ant-picker-cell-today .ant-picker-cell-inner::before {
		border-color: var(--color-teal);
	}
}

/* Create triangle */
.ant-picker-dropdown.ant-picker-dropdown-placement-bottomLeft::before {
	position: absolute;
	top: -6px;
	left: 0px;

	content: '';
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 10px solid #fff;
	text-shadow: 3px 3px 10px red;
	-webkit-filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.5));
	filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.5));
	z-index: -1;
}
